<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alithian.app.mapper.AlithianUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.alithian.app.model.AlithianUser">
        <result column="id" property="id"/>
        <result column="email" property="email"/>
        <result column="password" property="password"/>
    </resultMap>

    <!-- 通用查询结果列 -->

<!--    <select id="pagesList" resultMap="BaseResultMap"-->
<!--            parameterType="com.alithian.app.model.AlithianUser">-->
<!--        select *-->
<!--        from tb_user-->
<!--    </select>-->
</mapper>
