<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.alithian.app.mapper.AlithianArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.alithian.app.model.AlithianArticle">
        <result column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="email" property="email"/>
        <result column="article" property="article"/>
        <result column="url" property="url"/>
        <result column="uid" property="uid"/>
    </resultMap>

    <!-- 通用查询结果列 -->


    <select id="randQuery" resultMap="BaseResultMap"
            parameterType="com.alithian.app.model.AlithianArticle">
        select * from tb_article ORDER BY RAND() limit 1000
    </select>
    <select id="pagesList" resultType="map"
            parameterType="com.alithian.app.model.AlithianArticle">
        select *,
        (SELECT COUNT(*) from tb_comment WHERE tb_comment.art_id=tb_article.id) as replies
        from tb_article
        <where>
            <if test="uid!=null and uid!=''">
                uid=#{uid}
            </if>
        </where>
    </select>
</mapper>
