<!DOCTYPE html>
<html>

<head>
  <title> About Us</title>
  <link href="images/hd-logo.png" rel="icon">
  <link rel="stylesheet" href="css/about_us.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style_about_us.css" />
</head>

<body>
  <header class="header">
    <div class="hdK flexC">
      <nav class="nav">
        <ul class="flexC">
          <li><a href="index.html" class="menuA active">Home</a></li>  
            <li><a href="news.html" class="menuA">News</a></li>
            <li><a href="podcast.html" class="menuA">Podcast</a></li>
            <li><a href="write-for-us.html" class="menuA">Write for us</a></li>                               
        </ul>
      </nav>
      <h1 class="hd-logo"><a href="index.html"><img src="images/hd-logo.png"></a></h1>
      <nav class="nav mrL">
        <ul class="flexC">
          <li><a href="community.html" class="menuA">Community</a></li>                       
            <li><a href="shop.html" class="menuA">Shop</a></li>
            <li><a href="register.html" class="menuA">Join</a></li>
            <li><a href="login.html" class="logA">Sign in</a></li>                           
        </ul>
      </nav>
    </div>
  </header>


  <div class="container-md" style="max-width: 1600px; min-width: 1600px; margin: auto;z-index: 2;position: relative;">
    <div class="col-12 mb-2">
      <div class="card-deck">
        <div class="cardleft" style="background-color: #2c2626; max-height: 1000px;">
          <div class="card-body">
            <h5 class="card-title" style="color: white;">Network Shows</h5>
            <ul class="networkshows" style=" padding-bottom: 20px;">
              <li class="li1"><p class="networkshowstext1" style="color: white;" onclick="myShows1()">The Young Turks</p></li>
              <li class="li2"><p class="networkshowstext2" style="color: white;" onclick="myShows2()">The Damage Report</p></li>
              <li class="li3"><p class="networkshowstext3" style="color: white;" onclick="myShows3()">Indisputable with Dr. Rashad Richey</p></li>
              <li class="li4"><p class="networkshowstext4" style="color: white;" onclick="myShows4()">The Watchlist with Jayar Jackson</p></li>
              <li class="li5"><p class="networkshowstext5" style="color: white;" onclick="myShows5()">Unbossed</p></li>
              <li class="li6"><p class="networkshowstext6" style="color: white;" onclick="myShows6()">The Conversation</p></li>
            </ul>

            <div class="card-footer" style="border-color: white;">
            </div>

            <h5 class="card-title" style="color: white;">Articles</h5>
            <ul class="networkshows">
              <li class="li1"><p class="networkshowstext1" style="color: white;" onclick="myArticles1()">TYT Commentary</p></li>
              <li class="li2"><p class="networkshowstext2" style="color: white;" onclick="myArticles2()">TYT Reports</p></li>
              <li class="li3"><p class="networkshowstext3" style="color: white;" onclick="myArticles3()">TYT today</p></li>
              <li class="li4"><p class="networkshowstext4" style="color: white;" onclick="myArticles4()">TYT investigates</p></li>
              <li class="li5"><p class="networkshowstext5" style="color: white;" onclick="myArticles5()">News</p></li>
              <li class="li6"><p class="networkshowstext6" style="color: white;" onclick="myArticles6()">INSIDE The Family: A TYT Investigates Series</p></li>
              <li class="li5"><p class="networkshowstext7" style="color: white;" onclick="myArticles7()">News</p></li>
            </ul>
            <script>
              function myShows1() {
                window.open("https://www.google.com/");
              }
              function myShows2() {
                window.open("https://www.google.com/");
              }
              function myShows3() {
                window.open("https://www.google.com/");
              }
              function myShows4() {
                window.open("https://www.google.com/");
              }
              function myShows5() {
                window.open("https://www.google.com/");
              }
              function myShows6() {
                window.open("https://www.google.com/");
              }
              function myArticles1() {
                window.open("https://www.google.com/");
              }
              function myArticles2() {
                window.open("https://www.google.com/");
              }
              function myArticles3() {
                window.open("https://www.google.com/");
              }
              function myArticles4() {
                window.open("https://www.google.com/");
              }
              function myArticles5() {
                window.open("https://www.google.com/");
              }
              function myArticles6() {
                window.open("https://www.google.com/");
              }
              function myArticles7() {
                window.open("https://www.google.com/");
              }
            </script>
          </div>
          <div class="card-footer" style="border: none;">
            <small class="text-muted"></small>
          </div>
        </div>
        <div class="cardwide">
          <div class="tab" style="background-color: #2c2626;">
            <button class="tablinks" onclick="openTab(event, 'About')" style="color:White;">&emsp;&emsp;About&emsp;&emsp;</button>
            <button class="tablinks" onclick="openTab(event, 'Hosts')" style="color:White;">&emsp;&emsp;Hosts&emsp;&emsp;</button>
            <button class="tablinks" onclick="openTab(event, 'Announcements')" style="color:White;">&emsp;&emsp;Announcements&emsp;&emsp;</button>
            <button class="tablinks" onclick="openTab(event, 'Press')" style="color:White;">&emsp;&emsp;Press&emsp;&emsp;</button>
          </div>
          <div id="About" class="tabcontent" style="display:block">
            <h3 style="color:White;">About</h3>
            <div class="cardannouncements">
              <div class="card-body">
                <h5 class="card-title" style="color:White;">Programming Update: The Watchlist at a New Time!</h5>
                <p class="card-text">Most recently TYT received the Audience Honor in the Shorty Awards for Best in Live
                  Event Coverage for their coverage of the 2020 Election. The Damage Report with John Iadarola was a
                  2021
                  Webby Honoree for Social Media Presence. Dr. Richey was most recently awarded with the Global Icon
                  Award
                  by the Black Media Honors and was recognized with an award by the White House for his work with
                  gang-affected and gang-affiliated youth and social advocacy.</p>
                <p class="card-text">Cenk Uygur was recognized by Mediaite on their list of Most Influential in News
                  Media
                  2021. Host Ana Kasparian was named to the 2016 Forbes 30 Under 30 Media List and The Daily Dot’s 20
                  Women
                  of YouTube list. The Young Turks was recognized with a Webby Honoree for News and Politics: Series and
                  Channel, won the Audience Honor for Overall YouTube Presence in the 2018 Shorty Awards and the Webby
                  People’s Voice Award for News and Politics - Series. Over the years, TYT has been recognized by the
                  Streamys, Webbys, and Shorty Awards. The Young Turks was awarded the Imagen Vision Award and the Vote
                  It
                  Loud Fifth Estate: Champion in Media Award for Best in New Media in 2016. In 2015, The Young Turks was
                  named to Variety’s FameChangers List (No. 7) and The Hollywood Reporter’s Next Gen List (No. 1 in the
                  News
                  category).</p>

              </div>
            </div>
            <div class="card-footer" style="border: none;">
              <small class="text-muted"></small>
            </div>
          </div>

          <div id="Hosts" class="tabcontent" style="display:none">
            <h3 style="color:White;">Hosts</h3>
            <div class="wrapper">
              <div class="container-md">
                <div class="col-12 mb-2">
                  <div class="row">
                    <div class="column">
                      <div class="cards_wrap">
                        <div class="card_item">
                          <div class="card_inner" onclick="myHost1()">
                            <img src="images/istockphoto-1145046836-612x612.jpg">
                            <div class="film">
                              Ana Kasparian
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
            
                    <div class="column">
                      <div class="cards_wrap">
                        <div class="card_item">
                          <div class="card_inner" onclick="myHost2()">
                            <img src="images/istockphoto-1145046836-612x612.jpg">
                            <div class="film">
                              Cenk Uygur
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
            
                    <div class="column">
                      <div class="cards_wrap">
                        <div class="card_item">
                          <div class="card_inner" onclick="myHost3()">
                            <img src="images/istockphoto-1145046836-612x612.jpg">
                            <div class="film">
                              Ben Mankiewicz
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="column">
                      <div class="cards_wrap">
                        <div class="card_item">
                          <div class="card_inner" onclick="myHost4()">
                            <img src="image/istockphoto-1145046836-612x612.jpg">
                            <div class="film">
                              John ladarola
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="column">
                      <div class="cards_wrap">
                        <div class="card_item">
                          <div class="card_inner" onclick="myHost5()">
                            <img src="images/istockphoto-1145046836-612x612.jpg">
                            <div class="film">
                              Brett Erlich
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <script>
                    function myHost1() {
                      window.open("https://www.google.com/");
                    }
                    function myHost2() {
                      window.open("https://www.google.com/");
                    }
                    function myHost3() {
                      window.open("https://www.google.com/");
                    }
                    function myHost4() {
                      window.open("https://www.google.com/");
                    }
                    function myHost5() {
                      window.open("https://www.google.com/");
                    }
                  </script>
                </div>
              </div>
            </div>
            <div class="card-footer" style="border: none;">
              <small class="text-muted"></small>
            </div>
          </div>

          <div id="Announcements" class="tabcontent" style="display:none">
            <h3 style="color:White;">Announcements</h3>
            <div class="cardannouncements">
              <img class="card-img-top" src="images/istockphoto-1145046836-612x612.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title" style="color:White;">Programming Update: The Watchlist at a New Time!</h5>
                <p class="card-text">This is possible additional text to fill up space.</p>
              </div>
              <div class="card-footer" style="border: none;">
                <small class="text-muted">Last updated on 1/1/2023 by</small>
                <a href="https://www.google.com/">Mr.Google1</a>
              </div>
            </div>
            <div class="cardannouncements2">
              <img class="card-img-top" src="images/istockphoto-1145046836-612x612.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title" style="color:White;">Programming Update: The Watchlist at a New Time!</h5>
                <p class="card-text">This is possible additional text to fill up space.</p>
              </div>
              <div class="card-footer" style="border: none;">
                <small class="text-muted">Last updated on 1/1/2023 by</small>
                <a href="https://www.google.com/">Mr.Google2</a>
              </div>
            </div>
            <div class="cardannouncements3">
              <img class="card-img-top" src="images/istockphoto-1145046836-612x612.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title" style="color:White;">Programming Update: The Watchlist at a New Time!</h5>
                <p class="card-text">This is possible additional text to fill up space.</p>
              </div>
              <div class="card-footer" style="border: none;">
                <small class="text-muted">Last updated on 1/1/2023 by</small>
                <a href="https://www.google.com/">Mr.Google3</a>
              </div>
            </div>
            <div class="card-footer" style="border: none;">
              <small class="text-muted"></small>
            </div>
          </div>

          <div id="Press" class="tabcontent" style="display:none">
            <h3 style="color:White;">Press</h3>
            <div class="cardpress">
              <img class="card-img-top" src="images/istockphoto-1145046836-612x612.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title" style="color:White;">TYT’s 'Indisputable with Dr. Rashad Richey' named “America’s
                  Fastest Growing Television News Show”</h5>
                <p class="card-text">LOS ANGELES, CA, UNITED STATES, February 10, 2022 /EINPresswire.com/ -- TYT
                  (TYT.com),
                  America’s largest progressive network, announced today that 'Indisputable with Dr. Rashad Richey' was
                  named “The fastest growing news show in the United States for survey year 2021,” by data driven firm
                  The
                  Hicks Evaluation Group (HEG, LLC). Their evaluation looked at national news programs based on audience
                  growth, social media views and engagement, and multi-platform variables.</p>
              </div>
              <div class="buttoncontainer">
                <button class="defaultbutton" type="button" onclick="myArticle()">Read Article</button>
              </div>
              <div class="card-footer" style="border: none;">
              </div>
            </div>
            <div class="cardpress">
              <img class="card-img-top" src="images/istockphoto-1145046836-612x612.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title" style="color:White;">TYT WAS MOST WATCHED PROGRESSIVE NEWS NETWORK ON ELECTION
                  NIGHT</h5>
                <p class="card-text">LOS ANGELES - November 4, 2020 - TYT (TYT.com) was the most watched progressive
                  news network on Election Day with over 3 million total views during the network’s 13 hours of coverage
                  from the TYT studio in Los Angeles, remote locations, and Biden campaign headquarters. Election
                  programming streamed both on digital platforms and linear TV: YouTube, Facebook, Twitch, Twitter,
                  YouTube TV, Roku, Pluto TV, Xumo, Comcast Xfinity X1 and Flex, and Samsung TV Plus.</p>
              </div>
              <div class="buttoncontainer">
                <button class="defaultbutton" type="button" onclick="myArticle()">Read Article</button>
              </div>
              <div class="card-footer" style="border: none;">
              </div>
            </div>
            <div class="cardpress">
              <img class="card-img-top" src="images/istockphoto-1145046836-612x612.jpg" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title" style="color:White;">The 21 best daily podcasts for your morning routine</h5>
                <p class="card-text">LOS ANGELES, CA, UNITED STATES, February 10, 2022 /EINPresswire.com/ -- TYT
                  (TYT.com),
                  America’s largest progressive network, announced today that 'Indisputable with Dr. Rashad Richey' was
                  named “The fastest growing news show in the United States for survey year 2021,” by data driven firm
                  The
                  Hicks Evaluation Group (HEG, LLC). Their evaluation looked at national news programs based on audience
                  growth, social media views and engagement, and multi-platform variables.</p>
              </div>
              <div class="buttoncontainer">
                <button class="defaultbutton" type="button" onclick="myArticle()">Read Article</button>
              </div>
              <div class="card-footer" style="border: none;">
              </div>
            </div>
          </div>

          <script>
            function openTab(evt, tabName) {
              var i, tabcontent, tablinks;
              tabcontent = document.getElementsByClassName("tabcontent");
              for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
              }
              tablinks = document.getElementsByClassName("tablinks");
              for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
              }
              document.getElementById(tabName).style.display = "block";
              evt.currentTarget.className += " active";
            }

            function myArticle() {
              window.open("https://www.google.com/");
            }
          </script>

        </div>

        <div class="cardright" style="background-color: #2c2626; max-height: 1000px;">
          <div class="card-body">
            <div class="imgcontainer">
              <img src="images/istockphoto-1145046836-612x612.jpg" style="width:100%;">
              <div class="centeredtext">Become an Alithian Member Today</div>
              <div class="btn-box flexC fl-bet">
                <button class="centeredbutton1" type="button" onclick="myAdvertise()">Join Now</button>
                <button class="centeredbutton2" type="button" onclick="myLearn()">Learn More</button>
              </div>
              
            </div>
            <script>
              function myAdvertise() {
                window.open("https://www.google.com/");
              }
              function myLearn() {
                window.open("https://www.google.com/");
              }
            </script>
            <div class="card-footer" style="border-color: white;">
            </div>
            <h5 class="card-title" style="color: white;">Alithian Announcements</h5>
            <ul class="alithianannouncements" style=" padding-bottom: 30px;">
              <li class="announcementimg1" onclick="myAnnouncement1()"><p class="announcementstext1" style="color: white;" onclick="myAnnouncement1()">Find TYT on PlutoTV</p></li>
              <li class="announcementimg2" onclick="myAnnouncement2()"><p class="announcementstext2" style="color: white;" onclick="myAnnouncement2()">Programming Update: The Watchlist at a New Time!</p></li>
              <li class="announcementimg3" onclick="myAnnouncement3()"><p class="announcementstext3" style="color: white;" onclick="myAnnouncement3()">Final Day of 9 Days of Impact!</p></li>
              <li class="announcementimg4" onclick="myAnnouncement4()"><p class="announcementstext4" style="color: white;" onclick="myAnnouncement4()">Day 8 of 9 of Impact</p></li>
              <li class="announcementimg5" onclick="myAnnouncement5()"><p class="announcementstext5" style="color: white;" onclick="myAnnouncement5()">Day 7 of 9 of Impact</p></li>
              <li class="announcementimg6" onclick="myAnnouncement6()"><p class="announcementstext6" style="color: white;" onclick="myAnnouncement6()">Day 6 of 9 of Impact</p></li>
            </ul>
            <script>
              function myAnnouncement1() {
                window.open("https://www.google.com/");
              }
              function myAnnouncement2() {
                window.open("https://www.google.com/");
              }
              function myAnnouncement3() {
                window.open("https://www.google.com/");
              }
              function myAnnouncement4() {
                window.open("https://www.google.com/");
              }
              function myAnnouncement5() {
                window.open("https://www.google.com/");
              }
              function myAnnouncement6() {
                window.open("https://www.google.com/");
              }
            </script>
            <div class="card-footer" style="border-color: white;">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--footer-->
  <footer class="footer">
    <div class="ftK flexC fl-bet">
      <div class="ft-l flexC">
        <a href="index.html" class="ft-logo"><img src="images/hd-logo.png"></a>
        <div class="ft-l-nav">
          <a href="about_us.html" class="ft-nav-a">About us</a>
					<a href="javascript:;" class="ft-nav-a">Join Us</a>
					<a href="javascript:;" class="ft-nav-a">Contact Us</a>
        </div>
      </div>
      <div class="copy">© Copyright 2023 <span>Terms of Use | Privacy Policy</span></div>
      <div class="links flexC">
        <a href="javascript:;" class="flexC"><img src="images/link01.png"></a>
        <a href="javascript:;" class="flexC"><img src="images/link02.png"></a>
        <a href="javascript:;" class="flexC"><img src="images/link03.png"></a>
      </div>
    </div>
  </footer>
  <!--footer-->
</body>

</html>
</div>