<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
		<title>Alithian - Community Page</title>
		<link href="images/hd-logo.png" rel="icon">
		<link rel="stylesheet" href="css/swiper.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/index.css">
		<link rel="stylesheet" type="text/css" href="css/css.css" />
	</head>

	<body style="background-color: #171921;">
		<header class="header">
			<div class="hdK flexC">
				<nav class="nav">
					<ul class="flexC">
						<li><a href="index.html" class="menuA active">Home</a></li>  
          				<li><a href="news.html" class="menuA">News</a></li>
          				<li><a href="podcast.html" class="menuA">Podcast</a></li>
          				<li><a href="write-for-us.html" class="menuA">Write for us</a></li>    
					</ul>
				</nav>
				<h1 class="hd-logo"><a href="index.html"><img src="images/hd-logo.png"></a></h1>
				<nav class="nav mrL">
					<ul class="flexC">
						<li><a href="community.html" class="menuA">Community</a></li>                       
            			<li><a href="shop.html" class="menuA">Shop</a></li>
            			<li><a href="register.html" class="menuA">Join</a></li>
            			<li><a href="login.html" class="logA">Sign in</a></li> 
					</ul>
				</nav>
			</div>
		</header>
		<div class="ward">
			<div class="fp_box_1">
				<div class="top">
					<span>COMMUNITY</span>
					<img src="images/f.png">
					<em>137243</em>
				</div>
				<div class="top_2">
					ALITHIAN Today
				</div>
				<div class="left">
					<div class="he">
						<div class="pic">
							<img src="images/a1.png">
						</div>
						<div class="text">
							<h3>ls the Climate Crisis Racist?</h3>
							<p>Due to systemicracism,cassism, and sexism,disadvantaged communities in the United States
								face the eflfects of a destabilired climate firstand worst. Click here to learn more.
							</p>
							<span>February 9, 2022</span>
						</div>
					</div>
					<div class="ft">
						<ul class="clearfix">
							<li>
								<img src="images/r1.png">
								<p>The Oxy Kingpins Screening</p>
							</li>
							<li>
								<img src="images/r2.png">
								<p>Article: “Feel-Good” Stories Don’t Feel So Good</p>
							</li>
							<li>
								<img src="images/r3.png">
								<p>[video] You Are The Change with Godiva Morte, Artist & Burlesque Performer</p>
							</li>
						</ul>
					</div>
				</div>
				<div class="rii">
					<h3>JOIN OUR COMMUNITY FOR FREE</h3>
					<ul class="clearfix">
						<li>
							<img src="images/rt1.svg">Customize Your Feed
						</li>
						<li>
							<img src="images/rt2.svg">Keep Watching
						</li>
						<li>
							<img src="images/rt3.svg">Participate in Polls, Petitions, and Discussions
						</li>
					</ul>
					<a href="#">Join Now</a>
				</div>
			</div>


			<!-- 2 -->
			<div class="fp_box_2 clearfix">
				<div class="left clearfix">
					<h3 class="title">Featured Members</h3>
					<div class="box_dy clearfix">
						<div class="box_dy1 clearfix">
							<div class="top clearfix">
								<div class="pic">
									<img src="images/tt1.png">
								</div>
								<div class="text">
									<h3>Community Member</h3>
									<h4>tytuser_172960</h4>
									<p>Sapiophile - Blessing and a Curse</p>
								</div>
							</div>
							<div class="box clearfix">
								<div class="zuo">
									<img src="images/tu1.svg">
									<h5>Community</h5>
									<span>9/9/18</span>
								</div>
								<div class="zuo"><img src="images/tu2.svg">
									<h5>Plus</h5>
									<span>#7338</span>
								</div>
							</div>
						</div>
						<div class="box_dy1 clearfix">

							<div class="top clearfix">
								<div class="pic">
									<img src="images/tt2.png">
								</div>
								<div class="text">
									<h3>Community Member</h3>
									<h4>tytuser_172960</h4>
									<p>Sapiophile - Blessing and a Curse</p>
								</div>
							</div>
							<div class="box clearfix">
								<div class="zuo">
									<h5>Community</h5>
									<span>9/9/18</span>
								</div>
								<div class="zuo">
									<h5>Plus</h5>
									<span>#7338</span>
								</div>
							</div>
						</div>
					</div>
					<div class="box_dy_3">
						<h3 class="title">Petitions</h3>
						<div class="hjlk">
							<img src="images/tt3.png">
							<div class="list">
								<div class="texth">
									<h3><i>SIGN</i>Tell Congress to Get Their #HandsOffTikTok</h3>
									<p>TikTok’s future in the US has never been more at threat than it is right now.</p>
									<p>Over the last few months alone, Republicans and Democrats have rallied behind
										legislation barring TikTok from operating in the U.S. claiming–with little to no
										evidence–that the app is “a tool” of the Chinese government.</p>
									<a href="#">Read more</a>
									<em class="em1">PETITION OPEN</em><em>Ends May 31</em><br>
									<strong>March 29</strong><strong>1.4k Signatures</strong>
								</div>
							</div>
							<div class="list">
								<div class="texth">
									<h3><i>SIGN</i>Speaker McCarthy, #ProtectOurKids From Legalized Grooming</h3>
									<p>As of July 2022, eight states have zero statutory minimum age requirements and
										only seven states have banned underage marriages with no exceptions.</p>
									<p>Meanwhile, despite Republican outcries to “stop groomers,” all across the country
										Republicans in state legislatures are working hard to legalize child marriage.
									</p>
									<p>Last year, in Tennessee, Republicans sought to eliminate ANY age limits on
										marriage entirely, until public outrage forced them to kill the bill. This year,
										Republicans in Wyoming are already seeking to</p>
									<a href="#">Read more</a>
									<em class="em1">PETITION OPEN</em><em>Ends August 31</em><br>
									<strong>1.9k Signatures</strong>
								</div>
							</div>
							<div class="list">
								<div class="texth">
									<h3><i>SIGN</i>Tell Congress to #LoseTheLegacy</h3>
									<p>From Wall Street bailouts, to PPP Loans, our government is always giving
										rich–often white–people handouts while the rest of us work hard to get by.</p>
									<p>Legacy Admissions are no different.</p>
									<p>They give rich, mostly white, students a boost in college admissions that are
										completely void of any merit. In fact, at top ten universities, more rich white
										students are admitted through Legacy Admissions practices than Black and Latino
										students are admitted through Affirmative Action!</p>
									<a href="#">Read more</a>
									<em class="em1">PETITION OPEN</em><br>
									<strong>November 2</strong><strong>799 Signatures</strong>
								</div>
							</div>
							<div class="list">
								<div class="texth">
									<h3><i>SIGN</i>Speaker Pelosi, Don't Force Progressives to Vote Against the Budget
										Bill</h3>
									<p>Members of the House are urging Democratic Party leadership to not attach a bill
										fast-tracking pipeline permits to must-pass legislation to fund the federal
										government past the end of next month.</p>
									<p>The pipeline-permitting bill was promised to Sen. Joe Manchin (D-WV) by Sen. Maj.
										Leader Chuck Schumer (D-NY) in return for Manchin supporting the Inflation
										Reduction Act. But progressives and environmental justice advocates have warned
										that the bill will make it easier for fossil fuel companies to overcome
										community opposition to potentially dangerous projects.</p>
									<a href="#">Read more</a>
									<em class="em1">PETITION OPEN</em><br>
									<strong>September 2</strong><strong>3.7k Signatures</strong>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="zhong">
					<h3 class="title">Discussions</h3>
					<div class="topi">
						<ul>
							<li>
								<h3>How did you find TYT?</h3>
								<img src="images/df1.png">
								<p>Posted by <i> @clarrisani</i>4 months ago</p>
								<div class="time">
									<em>25</em>
									<img src="images/df2.png">
									<span>Replies</span>
								</div>
							</li>
							<li>
								<h3>Let's Discuss Boooks & Movies!</h3>
								<img src="images/df1.png">
								<p>Posted by <i> @clarrisani</i>4 months ago</p>
								<div class="time">
									<em>25</em>
									<img src="images/df2.png">
									<span>Replies</span>
								</div>
							</li>
							<li>
								<h3>Hi! Just joined</h3>
								<img src="images/df1.png">
								<p>Posted by <i> @clarrisani</i>4 months ago</p>
								<div class="time">
									<em>25</em>
									<img src="images/df2.png">
									<span>Replies</span>
								</div>
							</li>
							<li>
								<h3>Book Chat Friday, August 6, 8:30pm ET / 5:30pm PT</h3>
								<img src="images/df1.png">
								<p>Posted by <i> @clarrisani</i>4 months ago</p>
								<div class="time">
									<em>25</em>
									<img src="images/df2.png">
									<span>Replies</span>
								</div>
							</li>
						</ul>
					</div><br>
					<h3 class="title">TYT Community Projects</h3>
					<div class="top_3">

						<ul class="clearfix">
							<li>
								<img src="images/b7.png">
								<p>Under our current political system, money speaks louder than the voices of the
									people. Arm yourself with the facts about the history of corruption and ways we can
									reform it.</p>
							</li>
							<li>
								<img src="images/b8.png">
								<p>Check out what our volunteers made for Yoda day...</p>
							</li>
						</ul>
					</div><br>
					<h3 class="title">Our Values</h3>

					<div class="top_4">
						<h3>Every action we take is to support our mission.</h3>
						<a href="#">See More</a>
					</div>
				</div>



				<div class="left left2 clearfix">

					<div class="box_dy_3">
						<h3 class="title">Polls</h3>
						<div class="hjlk">
							<img src="images/fenmg.png">
							<div class="list">
								<div class="texth">
									<h3><i>VOTE</i>Transformer Statues...Yay? or Nay?</h3>
									<p>A billionaire doctor in DC has spent years fighting for a public permit to
										display three massive Transformers statues at his home. Last Thursday, a small
										federal board denied his permit request.</p>
									<a href="#">Read more</a>
									<em class="em1">OTING OPEN</em><em>Ends April 10</em><br>
									<strong>286 Votes</strong>
								</div>
							</div>
							<div class="list">
								<div class="texth">
									<h3><i>VOTE</i>Bling Or No Ring?</h3>
									<p>A woman on TikTok has started a debate after declaring that men need to stop
										buying a specific type of engagement ring for women. Melissa Watkins made a
										video saying that men consistently give women cluster diamond rings, and that
										women need to stop accepting such jewelry.</p>
									<a href="#">Read more</a>
									<em class="em1">OTING OPEN</em><em>Ends August 31</em><br>
									<strong>1.9k Signatures</strong>
								</div>
							</div>
							<div class="list">
								<div class="texth">
									<h3><i>VOTE</i>Throw It Back OR Throw It Away?</h3>
									<p>A man broke up with his girlfriend after she received a lap dance from Chris
										Brown on stage during a UK Stop on his tour. She thinks she did nothing wrong
										since it was a once in a lifetime experience, but he thought differently.</p>
									<a href="#">Read more</a>
									<em class="em1">OTING OPEN</em><br>
									<strong>November 2</strong><strong>799 Signatures</strong>
								</div>
							</div>
							<div class="list">
								<div class="texth">
									<h3><i>VOTE</i>
										New Diet Plan?</h3>
									<p>A man moved to a remote village in Spain for several months and cut off contact
										with his friends and family in order to focus on an intense weight loss program.
										He weighed 338 pounds when he left and returned 137 pounds lighter.</p>
									<a href="#">Read more</a>
									<em class="em1">OTING OPEN</em><br>
									<strong>September 2</strong><strong>3.7k Signatures</strong>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="bitt">
				<div class="rii">
					<h3>JOIN OUR COMMUNITY FOR FREE</h3>
					<ul class="clearfix">
						<li>
							<img src="images/rt1.svg">Customize Your Feed
						</li>
						<li>
							<img src="images/rt2.svg">Keep Watching
						</li>
						<li>
							<img src="images/rt3.svg">Participate in Polls, Petitions, and Discussions
						</li>
					</ul>
					<a href="#">Join Now</a>
				</div>
			</div>
		</div>




		<!--footer-->
		<footer class="footer">
			<div class="ftK flexC fl-bet">
				<div class="ft-l flexC">
					<a href="index.html" class="ft-logo"><img src="images/ft-logo.png"></a>
					<div class="ft-l-nav">
						<a href="about_us.html" class="ft-nav-a">About us</a>
						<a href="javascript:;" class="ft-nav-a">Join Us</a>
						<a href="javascript:;" class="ft-nav-a">Contact Us</a>
					</div>
				</div>
				<div class="copy">© Copyright 2023 <span>Terms of Use | Privacy Policy</span></div>
				<div class="links flexC">
					<a href="javascript:;" class="flexC"><img src="images/link01.png"></a>
					<a href="javascript:;" class="flexC"><img src="images/link02.png"></a>
					<a href="javascript:;" class="flexC"><img src="images/link03.png"></a>
				</div>
			</div>
		</footer>
		<!--footer-->


		<script src="js/swiper.min.js"></script>
		<script src="js/jquery-1.8.3.min.js"></script>
		<script>
			//banner
			var swiper1 = new Swiper('.banner', {
				//pagination:{el: '.bannerB',clickable: true,},
				speed: 800,
				loop: true,
				autoplay: {
					disableOnInteraction: false,
					delay: 5000,
				},
				/*pagination: {
				    el: '.page',
				    clickable: true,
				},*/
				navigation: {
					nextEl: '.next',
					prevEl: '.prev',
				},
			});
		</script>
	</body>

</html>
