<!DOCTYPE html>
<html>

<head>
    <title> Host Detail</title>
    <link href="images/hd-logo.png" rel="icon">
    <link rel="stylesheet" href="css/host_detail.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style_about_us.css" />
</head>

<body>
    <header class="header">
        <div class="hdK flexC">
            <nav class="nav">
                <ul class="flexC">
                    <li><a href="index.html" class="menuA active">Home</a></li>
                    <li><a href="news.html" class="menuA">News</a></li>
                    <li><a href="podcast.html" class="menuA">Podcast</a></li>
                    <li><a href="write-for-us.html" class="menuA">Write for us</a></li>
                </ul>
            </nav>
            <h1 class="hd-logo"><a href="index.html"><img src="images/hd-logo.png"></a></h1>
            <nav class="nav mrL">
                <ul class="flexC">
                    <li><a href="community.html" class="menuA">Community</a></li>
                    <li><a href="shop.html" class="menuA">Shop</a></li>
                    <li><a href="register.html" class="menuA">Join</a></li>
                    <li><a href="login.html" class="logA">Sign in</a></li>
                </ul>
            </nav>
        </div>
    </header>


    <div class="container-md" style="max-width: 1600px; min-width: 1600px; margin: auto;z-index: 2;position: relative;">
        <div class="col-12 mb-2">
            <div class="card-deck">
                <div class="cardleft" style="background-color: #2c2626; max-height: 1000px;">
                    <div class="card-body">
                        <h5 class="card-title" style="color: white;">Network Shows</h5>
                        <ul class="networkshows" style=" padding-bottom: 20px;">
                            <li class="li1">
                                <p class="networkshowstext1" style="color: white;" onclick="myShows1()">The Young Turks
                                </p>
                            </li>
                            <li class="li2">
                                <p class="networkshowstext2" style="color: white;" onclick="myShows2()">The Damage
                                    Report</p>
                            </li>
                            <li class="li3">
                                <p class="networkshowstext3" style="color: white;" onclick="myShows3()">Indisputable
                                    with Dr. Rashad Richey</p>
                            </li>
                            <li class="li4">
                                <p class="networkshowstext4" style="color: white;" onclick="myShows4()">The Watchlist
                                    with Jayar Jackson</p>
                            </li>
                            <li class="li5">
                                <p class="networkshowstext5" style="color: white;" onclick="myShows5()">Unbossed</p>
                            </li>
                            <li class="li6">
                                <p class="networkshowstext6" style="color: white;" onclick="myShows6()">The Conversation
                                </p>
                            </li>
                        </ul>

                        <div class="card-footer" style="border-color: white;">
                        </div>

                        <h5 class="card-title" style="color: white;">Articles</h5>
                        <ul class="networkshows">
                            <li class="li1">
                                <p class="networkshowstext1" style="color: white;" onclick="myArticles1()">TYT
                                    Commentary</p>
                            </li>
                            <li class="li2">
                                <p class="networkshowstext2" style="color: white;" onclick="myArticles2()">TYT Reports
                                </p>
                            </li>
                            <li class="li3">
                                <p class="networkshowstext3" style="color: white;" onclick="myArticles3()">TYT today</p>
                            </li>
                            <li class="li4">
                                <p class="networkshowstext4" style="color: white;" onclick="myArticles4()">TYT
                                    investigates</p>
                            </li>
                            <li class="li5">
                                <p class="networkshowstext5" style="color: white;" onclick="myArticles5()">News</p>
                            </li>
                            <li class="li6">
                                <p class="networkshowstext6" style="color: white;" onclick="myArticles6()">INSIDE The
                                    Family: A TYT Investigates Series</p>
                            </li>
                            <li class="li5">
                                <p class="networkshowstext7" style="color: white;" onclick="myArticles7()">News</p>
                            </li>
                        </ul>
                        <script>
                            function myShows1() {
                                window.open("https://www.google.com/");
                            }
                            function myShows2() {
                                window.open("https://www.google.com/");
                            }
                            function myShows3() {
                                window.open("https://www.google.com/");
                            }
                            function myShows4() {
                                window.open("https://www.google.com/");
                            }
                            function myShows5() {
                                window.open("https://www.google.com/");
                            }
                            function myShows6() {
                                window.open("https://www.google.com/");
                            }
                            function myArticles1() {
                                window.open("https://www.google.com/");
                            }
                            function myArticles2() {
                                window.open("https://www.google.com/");
                            }
                            function myArticles3() {
                                window.open("https://www.google.com/");
                            }
                            function myArticles4() {
                                window.open("https://www.google.com/");
                            }
                            function myArticles5() {
                                window.open("https://www.google.com/");
                            }
                            function myArticles6() {
                                window.open("https://www.google.com/");
                            }
                            function myArticles7() {
                                window.open("https://www.google.com/");
                            }
                        </script>
                    </div>
                    <div class="card-footer" style="border: none;">
                        <small class="text-muted"></small>
                    </div>
                </div>
                <div class="cardwide">
                    <div id="About" class="tabcontent" style="display:block">
                        <h3 class="host-name" style="color:White;">Peter Yassopoulo</h3>
                        <div class="cardannouncements">
                            <div class="card-body">
                                <img class="card-img-top" src="images/istockphoto-1145046836-612x612.jpg" alt="Card image cap">
                                <h5 class="card-title" style="color:White;">Lorem Ipsum is simply dummy text of the
                                    printing and typesetting industry. Lorem Ipsum has been the industry's standard
                                    dummy text ever since the 1500s, when an unknown printer took a galley of type and
                                    scrambled it to make a type specimen book. It has survived not only five centuries,
                                    but also the leap into electronic typesetting, remaining essentially unchanged. It
                                    was popularised in the 1960s with the release of Letraset sheets containing Lorem
                                    Ipsum passages, and more recently with desktop publishing software like Aldus
                                    PageMaker including versions of Lorem Ipsum.
                                    </p>
                                </h5>
                                <p class="about-text2" style="color: white;">
                                    Follow Peter Yassopoulo
                                </p>
                                <div class="about-social">
                                    <a class="about-icon1" href="https://www.google.com/">
                                        <img src="images/link01.png">
                                    </a>
                                    <a class="about-icon2" href="https://www.google.com/">
                                        <img src="images/link02.png">
                                    </a>
                                    <a class="about-icon3" href="https://www.google.com/">
                                        <img src="images/link03.png">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer" style="border: none;">
                            <small class="text-muted"></small>
                        </div>
                    </div>

                    <script>
                        function myArticle() {
                            window.open("https://www.google.com/");
                        }
                    </script>

                </div>

                <div class="cardright" style="background-color: #2c2626; max-height: 1000px;">
                    <div class="card-body">
                        <div class="imgcontainer">
                            <img src="images/istockphoto-1145046836-612x612.jpg" style="width:100%;">
                            <div class="centeredtext">Become an Alithian Member Today</div>
                            <div class="btn-box flexC fl-bet">
                                <button class="centeredbutton1" type="button" onclick="myAdvertise()">Join Now</button>
                                <button class="centeredbutton2" type="button" onclick="myLearn()">Learn More</button>
                            </div>

                        </div>
                        <script>
                            function myAdvertise() {
                                window.open("https://www.google.com/");
                            }
                            function myLearn() {
                                window.open("https://www.google.com/");
                            }
                        </script>
                        <div class="card-footer" style="border-color: white;">
                        </div>
                        <h5 class="card-title" style="color: white;">Alithian Announcements</h5>
                        <ul class="alithianannouncements" style=" padding-bottom: 30px;">
                            <li class="announcementimg1" onclick="myAnnouncement1()">
                                <p class="announcementstext1" style="color: white;" onclick="myAnnouncement1()">Find TYT
                                    on PlutoTV</p>
                            </li>
                            <li class="announcementimg2" onclick="myAnnouncement2()">
                                <p class="announcementstext2" style="color: white;" onclick="myAnnouncement2()">
                                    Programming Update: The Watchlist at a New Time!</p>
                            </li>
                            <li class="announcementimg3" onclick="myAnnouncement3()">
                                <p class="announcementstext3" style="color: white;" onclick="myAnnouncement3()">Final
                                    Day of 9 Days of Impact!</p>
                            </li>
                            <li class="announcementimg4" onclick="myAnnouncement4()">
                                <p class="announcementstext4" style="color: white;" onclick="myAnnouncement4()">Day 8 of
                                    9 of Impact</p>
                            </li>
                            <li class="announcementimg5" onclick="myAnnouncement5()">
                                <p class="announcementstext5" style="color: white;" onclick="myAnnouncement5()">Day 7 of
                                    9 of Impact</p>
                            </li>
                            <li class="announcementimg6" onclick="myAnnouncement6()">
                                <p class="announcementstext6" style="color: white;" onclick="myAnnouncement6()">Day 6 of
                                    9 of Impact</p>
                            </li>
                        </ul>
                        <script>
                            function myAnnouncement1() {
                                window.open("https://www.google.com/");
                            }
                            function myAnnouncement2() {
                                window.open("https://www.google.com/");
                            }
                            function myAnnouncement3() {
                                window.open("https://www.google.com/");
                            }
                            function myAnnouncement4() {
                                window.open("https://www.google.com/");
                            }
                            function myAnnouncement5() {
                                window.open("https://www.google.com/");
                            }
                            function myAnnouncement6() {
                                window.open("https://www.google.com/");
                            }
                        </script>
                        <div class="card-footer" style="border-color: white;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--footer-->
    <footer class="footer">
        <div class="ftK flexC fl-bet">
            <div class="ft-l flexC">
                <a href="index.html" class="ft-logo"><img src="images/hd-logo.png"></a>
                <div class="ft-l-nav">
                    <a href="about_us.html" class="ft-nav-a">About us</a>
                    <a href="javascript:;" class="ft-nav-a">Join Us</a>
                    <a href="javascript:;" class="ft-nav-a">Contact Us</a>
                </div>
            </div>
            <div class="copy">© Copyright 2023 <span>Terms of Use | Privacy Policy</span></div>
            <div class="links flexC">
                <a href="javascript:;" class="flexC"><img src="images/link01.png"></a>
                <a href="javascript:;" class="flexC"><img src="images/link02.png"></a>
                <a href="javascript:;" class="flexC"><img src="images/link03.png"></a>
            </div>
        </div>
    </footer>
    <!--footer-->
</body>

</html>
</div>