<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
	<title>Alithian - Home Page</title>
	<link href="images/hd-logo.png" rel="icon">
	<link rel="stylesheet" href="css/swiper.css">
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/index.css">
</head>

<body>
	<header class="header">
		<div class="hdK flexC">
			<nav class="nav">
				<ul class="flexC">
					<li><a href="/" class="menuA active">Home</a></li>  
            		<li><a href="news.html" class="menuA">News</a></li>
            		<li><a href="podcast.html" class="menuA">Podcast</a></li>
            		<li><a href="write-for-us.html" class="menuA">Write for us</a></li>                            
				</ul>
			</nav>
			<h1 class="hd-logo"><a href="/"><img src="images/hd-logo.png"></a></h1>
			<nav class="nav mrL">
				<ul class="flexC">
					<li><a href="community.html" class="menuA">Community</a></li>                       
            		<li><a href="shop.html" class="menuA">Shop</a></li>
            		<li><a href="register.html" class="menuA">Join</a></li>
            		<li><a href="/login" class="logA">Sign in</a></li>                             
				</ul>
			</nav>
		</div>
	</header>

	<!--banner-->
	<section class="banner-div-block">
		<div class="swiper-container banner ward">
		    <div class="swiper-wrapper">
		        <div class="swiper-slide">
			    	<div class="img-nei"><img src="images/banner.jpg"></div>
		   		</div>
		   		<div class="swiper-slide">
			    	<div class="img-nei"><img src="images/banner.jpg"></div>
		   		</div>
		   		<div class="swiper-slide">
			    	<div class="img-nei"><img src="images/banner.jpg"></div>
		   		</div>
		 	</div>
		 	<div class="swiper-button-prev prev"></div><!>
    		<div class="swiper-button-next next"></div><!>
		</div>
	</section>
	<!--banner-->

	<!--content-->
	<section class="main">
		<div class="ward flex">
			<div class="con">
				<h2 class="tit"><a href="javascript:;" class="flexC">Hot news <span class="flexC"><img src="images/jtr.png"></span></a></h2>
				<div class="con-nei">
					<div class="Hot-pic"><img src="images/hot-pic.jpg"></div>
					<a href="javascript:;" class="text-con pt-24">
						<span>April 17,2022</span>
						<h3 class="mt-8">For“Fantastic Beasts’ Series,a Case ofDiminishing Returns</h3>
						<p class="mt-16">lmngo vla Warror Bros Fantastic Bansts: Tho Secrats of Dumbledordis currantly sat to promiere in the nited States on Aorfl 15.2022-</p>
					</a>
				</div>
			</div>

			<div class="y-line"></div>

			<div class="con">
				<h2 class="tit"><a href="javascript:;" class="flexC">Latest news <span class="flexC"><img src="images/jtr.png"></span></a></h2>
				<div class="con-nei">
					<a href="javascript:;" class="text-con text-con-cen">
						<div class="time flexC"><i>Polities</i><span>April 17,2022</span></div>
						<h3 class="mt-16">Nicola Sturgeon Reported to PoliceOver Apparent Face Mask Law Breach</h3>
						<p class="mt-8">Nicols Sturgeon has been reported to polce after footage showedher apparently breaching Scotlands Covid..</p>
					</a>
					<a href="javascript:;" class="text-con text-con-cen">
						<div class="time flexC"><i>Polities</i><span>April 17,2022</span></div>
						<h3 class="mt-16">Nicola Sturgeon Reported to PoliceOver Apparent Face Mask Law Breach</h3>
						<p class="mt-8">Nicols Sturgeon has been reported to polce after footage showedher apparently breaching Scotlands Covid..</p>
					</a>
					<a href="javascript:;" class="text-con text-con-cen">
						<div class="time flexC"><i>Polities</i><span>April 17,2022</span></div>
						<h3 class="mt-16">Nicola Sturgeon Reported to PoliceOver Apparent Face Mask Law Breach</h3>
						<p class="mt-8">Nicols Sturgeon has been reported to polce after footage showedher apparently breaching Scotlands Covid..</p>
					</a>
				</div>
			</div>

			<div class="y-line"></div>

			<div class="con last-con mrL">
				<h2 class="tit"><a href="javascript:;" class="flexC">Most Read <span class="flexC"><img src="images/jtr.png"></span></a></h2>
				<div class="con-nei">
					<ul>
						<li class="items">
							<a href="javascript:;" class="item-a flexC">
								<div class="text">
									<h4>Tell Congress to #LoseTheLegacy</h4>
									<p class="mt-10">From Wall Street bailouts, to PPP Loans, our government is always giving rich–often white–people handouts</p>
								</div>
								<div class="news-pic mrL enlarge">
									<img src="images/news01.jpg">
								</div>
							</a>
						</li>
						<li class="items">
							<a href="javascript:;" class="item-a flexC">
								<div class="text">
									<h4>Tell Congress to #LoseTheLegacy</h4>
									<p class="mt-10">From Wall Street bailouts, to PPP Loans, our government is always giving rich–often white–people handouts</p>
								</div>
								<div class="news-pic mrL enlarge">
									<img src="images/news02.jpg">
								</div>
							</a>
						</li>
						<li class="items">
							<a href="javascript:;" class="item-a flexC">
								<div class="text">
									<h4>Tell Congress to #LoseTheLegacy</h4>
									<p class="mt-10">From Wall Street bailouts, to PPP Loans, our government is always giving rich–often white–people handouts</p>
								</div>
								<div class="news-pic mrL enlarge">
									<img src="images/news03.jpg">
								</div>
							</a>
						</li>
						<li class="items">
							<a href="javascript:;" class="item-a flexC">
								<div class="text">
									<h4>Tell Congress to #LoseTheLegacy</h4>
									<p class="mt-10">From Wall Street bailouts, to PPP Loans, our government is always giving rich–often white–people handouts</p>
								</div>
								<div class="news-pic mrL enlarge">
									<img src="images/news04.jpg">
								</div>
							</a>
						</li>
						<li class="items">
							<a href="javascript:;" class="item-a flexC">
								<div class="text">
									<h4>Tell Congress to #LoseTheLegacy</h4>
									<p class="mt-10">From Wall Street bailouts, to PPP Loans, our government is always giving rich–often white–people handouts</p>
								</div>
								<div class="news-pic mrL enlarge">
									<img src="images/news05.jpg">
								</div>
							</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<!--content-->

	<!--footer-->
	<footer class="footer">
		<div class="ftK flexC fl-bet">
			<div class="ft-l flexC">
				<a href="index.html" class="ft-logo"><img src="images/hd-logo.png"></a>
				<div class="ft-l-nav">
					<a href="about_us.html" class="ft-nav-a">About us</a>
					<a href="javascript:;" class="ft-nav-a">Join Us</a>
					<a href="javascript:;" class="ft-nav-a">Contact Us</a>
				</div>
			</div>
			<div class="copy">© Copyright 2023 <span>Terms of Use | Privacy Policy</span></div>
			<div class="links flexC">
				<a href="javascript:;" class="flexC"><img src="images/link01.png"></a>
				<a href="javascript:;" class="flexC"><img src="images/link02.png"></a>
				<a href="javascript:;" class="flexC"><img src="images/link03.png"></a>
			</div>
		</div>
	</footer>
	<!--footer-->


	<script src="js/swiper.min.js"></script>
	<script src="js/jquery-1.8.3.min.js"></script>
	<script>
		//banner
		var swiper1 = new Swiper('.banner', {
			//pagination:{el: '.bannerB',clickable: true,},
			speed: 800,
			loop:true,
			autoplay: {disableOnInteraction: false,delay:5000,},
			/*pagination: {
			    el: '.page',
			    clickable: true,
			},*/
			navigation: {
		      nextEl: '.next',
		      prevEl: '.prev',
		    },
		});



	</script>	
</body>

</html>
