<!DOCTYPE html>
<html>

<head>
  <title> Podcast</title>
  <link href="images/hd-logo.png" rel="icon">
  <link rel="stylesheet" href="css/podcast.css" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="css/style.css" />
</head>



<body>
  <header class="header">
    <div class="hdK flexC">
      <nav class="nav">
        <ul class="flexC">
          <li><a href="index.html" class="menuA active">Home</a></li>  
            <li><a href="news.html" class="menuA">News</a></li>
            <li><a href="podcast.html" class="menuA">Podcast</a></li>
            <li><a href="write-for-us.html" class="menuA">Write for us</a></li>                      
        </ul>
      </nav>
      <h1 class="hd-logo"><a href="index.html"><img src="images/hd-logo.png"></a></h1>
      <nav class="nav mrL">
        <ul class="flexC">
          <li><a href="community.html" class="menuA">Community</a></li>                       
            <li><a href="shop.html" class="menuA">Shop</a></li>
            <li><a href="register.html" class="menuA">Join</a></li>
            <li><a href="login.html" class="logA">Sign in</a></li>                     
        </ul>
      </nav>
    </div>
  </header>

</body>

<div class="wrapper">
  <div class="header"> Podcast
  </div>
  <div class="container-md" style="max-width: 1600px; margin: auto">
    <div class="col-12 mb-2">
      <div class="row">
        <div class="column">
          <div class="cards_wrap">
            <div class="card_item">
              <div class="card_inner" onclick="myPodcast1()">
                <img src="images/istockphoto-1145046836-612x612.jpg">
                <div class="film">
                  The Young Turks
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="cards_wrap">
            <div class="card_item">
              <div class="card_inner" onclick="myPodcast2()">
                <img src="images/istockphoto-1145046836-612x612.jpg">
                <div class="film">
                  The Damage Report With John Iadarola
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="cards_wrap">
            <div class="card_item">
              <div class="card_inner" onclick="myPodcast3()">
                <img src="images/istockphoto-1145046836-612x612.jpg">
                <div class="film">
                  Indisputable With Dr. Rashad Richey
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="cards_wrap">
            <div class="card_item">
              <div class="card_inner" onclick="myPodcast4()">
                <img src="images/istockphoto-1145046836-612x612.jpg">
                <div class="film">
                  The Watchlist with Jayar Jackson
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column">
          <div class="cards_wrap">
            <div class="card_item">
              <div class="card_inner" onclick="myPodcast5()">
                <img src="images/istockphoto-1145046836-612x612.jpg">
                <div class="film">
                  Unbossed
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <script>
        function myPodcast1() {
          window.open("https://www.google.com/");
        }
        function myPodcast2() {
          window.open("https://www.google.com/");
        }
        function myPodcast3() {
          window.open("https://www.google.com/");
        }
        function myPodcast4() {
          window.open("https://www.google.com/");
        }
        function myPodcast5() {
          window.open("https://www.google.com/");
        }
      </script>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="ftK flexC fl-bet">
    <div class="ft-l flexC">
      <a href="index.html" class="ft-logo"><img src="images/hd-logo.png"></a>
      <div class="ft-l-nav">
        <a href="about_us.html" class="ft-nav-a">About us</a>
				<a href="javascript:;" class="ft-nav-a">Join Us</a>
				<a href="javascript:;" class="ft-nav-a">Contact Us</a>
      </div>
    </div>
    <div class="copy">© Copyright 2023 <span>Terms of Use | Privacy Policy</span></div>
    <div class="links flexC">
      <a href="javascript:;" class="flexC"><img src="images/link01.png"></a>
      <a href="javascript:;" class="flexC"><img src="images/link02.png"></a>
      <a href="javascript:;" class="flexC"><img src="images/link03.png"></a>
    </div>
  </div>
</footer>

</div>

</html>