<!DOCTYPE html>
<html>

<head>
    <title>Podcast Details</title>
    <link href="images/hd-logo.png" rel="icon">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link rel="stylesheet" type="text/css" href="css/podcast_detail.css">
</head>

<body>

    <header class="header">
        <div class="hdK flexC">
            <nav class="nav">
                <ul class="flexC">
                    <li><a href="home.html" class="menuA active">Home</a></li>
                    <li><a href="news.html" class="menuA">News</a></li>
                    <li><a href="podcast.html" class="menuA">Podcast</a></li>
                    <li><a href="write-for-us.html" class="menuA">Write for us</a></li>
                </ul>
            </nav>
            <h1 class="hd-logo"><a href="index.html"><img src="images/hd-logo.png"></a></h1>
            <nav class="nav mrL">
                <ul class="flexC">
                    <li><a href="community.html" class="menuA">Community</a></li>
                    <li><a href="shop.html" class="menuA">Shop</a></li>
                    <li><a href="register.html" class="menuA">Join</a></li>
                    <li><a href="login.html" class="logA">Sign in</a></li>
                </ul>
            </nav>
        </div>
    </header>


    <div class="container-md" style="max-width: 1600px; min-width: 1600px; margin: auto">
        <div class="col-12 mb-2">
            <div class="card-deck">
                <div class="cardleft" style="background-color: #2c2626; max-height: 1000px;">
                    <div class="card-body">
                        <h5 class="card-title" style="color: white;">Network Shows</h5>
                        <ul class="networkshows" style=" padding-bottom: 20px;">
                            <li class="li1">
                                <p class="networkshowstext1" style="color: white;" onclick="myShows1()">The Young Turks
                                </p>
                            </li>
                            <li class="li2">
                                <p class="networkshowstext2" style="color: white;" onclick="myShows2()">The Damage
                                    Report</p>
                            </li>
                            <li class="li3">
                                <p class="networkshowstext3" style="color: white;" onclick="myShows3()">Indisputable
                                    with Dr. Rashad
                                    Richey</p>
                            </li>
                            <li class="li4">
                                <p class="networkshowstext4" style="color: white;" onclick="myShows4()">The Watchlist
                                    with Jayar Jackson
                                </p>
                            </li>
                            <li class="li5">
                                <p class="networkshowstext5" style="color: white;" onclick="myShows5()">Unbossed</p>
                            </li>
                            <li class="li6">
                                <p class="networkshowstext6" style="color: white;" onclick="myShows6()">The Conversation
                                </p>
                            </li>
                        </ul>

                        <div class="card-footer" style="border-color: white;">
                        </div>

                        <h5 class="card-title" style="color: white;">Articles</h5>
                        <ul class="networkshows">
                            <li class="li1">
                                <p class="networkshowstext1" style="color: white;" onclick="myArticles1()">TYT
                                    Commentary</p>
                            </li>
                            <li class="li2">
                                <p class="networkshowstext2" style="color: white;" onclick="myArticles2()">TYT Reports
                                </p>
                            </li>
                            <li class="li3">
                                <p class="networkshowstext3" style="color: white;" onclick="myArticles3()">TYT today</p>
                            </li>
                            <li class="li4">
                                <p class="networkshowstext4" style="color: white;" onclick="myArticles4()">TYT
                                    investigates</p>
                            </li>
                            <li class="li5">
                                <p class="networkshowstext5" style="color: white;" onclick="myArticles5()">News</p>
                            </li>
                            <li class="li6">
                                <p class="networkshowstext6" style="color: white;" onclick="myArticles6()">INSIDE The
                                    Family: A TYT
                                    Investigates Series</p>
                            </li>
                            <li class="li5">
                                <p class="networkshowstext7" style="color: white;" onclick="myArticles7()">News</p>
                            </li>
                        </ul>
                        <script>
                            function myShows1() {
                                window.open("https://www.google.com/");
                            }
                            function myShows2() {
                                window.open("https://www.google.com/");
                            }
                            function myShows3() {
                                window.open("https://www.google.com/");
                            }
                            function myShows4() {
                                window.open("https://www.google.com/");
                            }
                            function myShows5() {
                                window.open("https://www.google.com/");
                            }
                            function myShows6() {
                                window.open("https://www.google.com/");
                            }
                            function myArticles1() {
                                window.open("https://www.google.com/");
                            }
                            function myArticles2() {
                                window.open("https://www.google.com/");
                            }
                            function myArticles3() {
                                window.open("https://www.google.com/");
                            }
                            function myArticles4() {
                                window.open("https://www.google.com/");
                            }
                            function myArticles5() {
                                window.open("https://www.google.com/");
                            }
                            function myArticles6() {
                                window.open("https://www.google.com/");
                            }
                            function myArticles7() {
                                window.open("https://www.google.com/");
                            }
                        </script>
                    </div>
                    <div class="card-footer" style="border: none;">
                        <small class="text-muted"></small>
                    </div>
                </div>
                <div class="cardwide">
                    <div class="tab" style="background-color: #2c2626;">
                        <button class="tablinks" onclick="openTab(event, 'Episodes')"
                            style="color:White;">&emsp;&emsp;Episodes&emsp;&emsp;</button>
                        <button class="tablinks" onclick="openTab(event, 'Clips')"
                            style="color:White;">&emsp;&emsp;Clips&emsp;&emsp;</button>
                        <button class="tablinks" onclick="openTab(event, 'Podcasts')"
                            style="color:White;">&emsp;&emsp;Podcasts&emsp;&emsp;</button>
                        <button class="tablinks" onclick="openTab(event, 'Articles')"
                            style="color:White;">&emsp;&emsp;Articles&emsp;&emsp;</button>
                        <button class="tablinks" onclick="openTab(event, 'About')"
                            style="color:White;">&emsp;&emsp;About&emsp;&emsp;</button>
                    </div>
                    <div id="Episodes" class="tabcontent" style="display:block">
                        <div class="cardannouncements">
                            <div class="card-body">
                                <h5 class="card-date" style="color:gray;"> May 3rd 2023</h5>
                                <button class="tablinks1" onclick="myShows1()" style="color:White;"> The
                                    Young Turks: May 3 2023</button>
                                <h5 class="card-host" style="color:White;"> Hosts:
                                    <button class="tablinks2" onclick="myHost1()" style="color:White;">
                                        Ana
                                        Kasparian</button>
                                    <button class="tablinks3" onclick="myHost2()" style="color:White;">
                                        John ladarola</button>
                                    <button class="tablinks4" onclick="myHost3()" style="color:White;">
                                        Bart Kyle</button>
                                </h5>
                                <p class="card-episodes1">
                                    <li class="episode1">
                                        <p class="episodepreview1" style="color: white;" onclick="myEpisode1()">
                                            Is This The Text That Got Tucker Fired? | Catalytic Converter Thefts
                                            Skyrocketing | Matt Gaetz & AOC Team Up To End To Stock Trading by Members
                                            of Congress | Man Behind Texas
                                        </p>
                                    </li>
                                <div class="episodeextra1" style="color: black;">
                                    Plus
                                </div>
                                <div class="episodeextra2" style="color: whitesmoke;">
                                    Full Episode
                                </div>
                                <div class="episodeextra3" style="color: whitesmoke;">
                                    1 hour, 1 minute |
                                </div>
                                <div class="episodeextra4" style="color: whitesmoke;">
                                    14
                                </div>
                                </p>

                                <p class="card-episodes2">
                                    <li class="episode2">
                                        <p class="episodepreview2" style="color: white;" onclick="myEpisode2()">
                                            Man Behind Texas Mass Shooting Caught & Arrested | Texas Republicans Pushing
                                            Bill To Overturn Election Results | The U.S. Is Having A Loneliness Crisis,
                                            Surgeon General Warns |
                                        </p>
                                    </li>
                                <div class="episodeextra5" style="color: black;">
                                    Plus
                                </div>
                                <div class="episodeextra6" style="color: whitesmoke;">
                                    Full Episode
                                </div>
                                <div class="episodeextra7" style="color: whitesmoke;">
                                    54 minutes |
                                </div>
                                <div class="episodeextra8" style="color: whitesmoke;">
                                    9
                                </div>
                                </p>
                                <p class="card-episodes3">
                                    <li class="episode3">
                                        <p class="episodepreview3" style="color: white;" onclick="myEpisode3()">
                                            TYT's Bart Kyle Shares His Experience With Catalytic Converter Theft | John,
                                            Ana and Bart Discuss Dune: Part Two
                                        </p>
                                    </li>
                                <div class="episodeextra9" style="color: black;">
                                    Plus
                                </div>
                                <div class="episodeextra10" style="color: whitesmoke;">
                                    Full Episode
                                </div>
                                <div class="episodeextra11" style="color: whitesmoke;">
                                    27 minutes |
                                </div>
                                <div class="episodeextra12" style="color: whitesmoke;">
                                    6
                                </div>
                                </p>
                            </div>
                            <script>
                                function myShow1() {
                                    window.open("https://www.google.com/");
                                }
                                function myHost1() {
                                    window.open("https://www.google.com/");
                                }
                                function myHost2() {
                                    window.open("https://www.google.com/");
                                }
                                function myHost3() {
                                    window.open("https://www.google.com/");
                                }
                                function myEpisode1() {
                                    window.open("https://www.google.com/");
                                }
                                function myEpisode2() {
                                    window.open("https://www.google.com/");
                                }
                                function myEpisode3() {
                                    window.open("https://www.google.com/");
                                }
                            </script>
                        </div>
                        <div class="card-footer" style="border: none;">
                            <small class="text-muted"></small>
                        </div>
                    </div>

                    <div id="Clips" class="tabcontent" style="display:none">
                        <h5 class="card-date-clip" style="color:gray;"> May 5rd 2023</h5>
                        <button class="tablinksclip1" onclick="myShows1()" style="color:White;"> The
                            Young Turks: May 5 2023</button>
                        <h5 class="card-host-clip" style="color:White;"> Hosts:
                            <button class="tablinksclip2" onclick="myHost1()" style="color:White;">
                                Cenk Uygur</button>
                            <button class="tablinksclip3" onclick="myHost2()" style="color:White;">
                                Adrienne Lawrence</button>
                            <button class="tablinksclip4" onclick="myHost3()" style="color:White;">
                                Rick strom</button>
                            <button class="tablinksclip5" onclick="myHost4()" style="color:White;">
                                John Iadarola</button>
                            <button class="tablinksclip6" onclick="myHost5()" style="color:White;">
                                Ramesh Srinivasan</button>
                        </h5>
                        <p class="card-clip">
                            <li class="clip1">
                                <p class="clippreview1" style="color: white;" onclick="myClip1()">
                                    Biden's Admin refuses to answer any questions about Clarence Thomas
                                </p>
                            </li>
                        <div class="clipextra1" style="color: whitesmoke;">
                            Clip
                        </div>
                        <div class="clipextra2" style="color: whitesmoke;">
                            12 minutes |
                        </div>
                        <div class="clipextra3" style="color: whitesmoke;">
                            14
                        </div>
                        <li class="clip2">
                            <p class="clippreview2" style="color: white;" onclick="myClip2()">
                                Senate Democrats slam SCOTUS corruption, call for ethics rules.
                            </p>
                        </li>
                        <div class="clipextra4" style="color: whitesmoke;">
                            Clip
                        </div>
                        <div class="clipextra5" style="color: whitesmoke;">
                            6 minutes |
                        </div>
                        <div class="clipextra6" style="color: whitesmoke;">
                            14
                        </div>
                        <li class="clip3">
                            <p class="clippreview3" style="color: white;" onclick="myClip3()">
                                Hollywood execs discuss the future of AI in entertainment.
                            </p>
                        </li>
                        <div class="clipextra7" style="color: whitesmoke;">
                            Clip
                        </div>
                        <div class="clipextra8" style="color: whitesmoke;">
                            16 minutes |
                        </div>
                        <div class="clipextra9" style="color: whitesmoke;">
                            14
                        </div>

                        <li class="clip4">
                            <p class="clippreview4" style="color: white;" onclick="myClip4()">
                                Trump loyalists are warning current staffers about leaving for the DeSantis campaign.
                            </p>
                        </li>
                        <div class="clipextra10" style="color: whitesmoke;">
                            Clip
                        </div>
                        <div class="clipextra11" style="color: whitesmoke;">
                            11 minutes |
                        </div>
                        <div class="clipextra12" style="color: whitesmoke;">
                            14
                        </div>
                        </p>

                        <script>
                            function myShows1() {
                                window.open("https://www.google.com/");
                            }
                            function myHost1() {
                                window.open("https://www.google.com/");
                            }
                            function myHost2() {
                                window.open("https://www.google.com/");
                            }
                            function myHost3() {
                                window.open("https://www.google.com/");
                            }
                            function myHost4() {
                                window.open("https://www.google.com/");
                            }
                            function myHost5() {
                                window.open("https://www.google.com/");
                            }
                            function myClip1() {
                                window.open("https://www.google.com/");
                            }
                            function myClip2() {
                                window.open("https://www.google.com/");
                            }
                            function myClip3() {
                                window.open("https://www.google.com/");
                            }
                            function myClip4() {
                                window.open("https://www.google.com/");
                            }
                        </script>

                        <div class="card-footer" style="border: none;">
                            <small class="text-muted"></small>
                        </div>
                    </div>

                    <div id="Podcasts" class="tabcontent" style="display:none">
                        <div class="card-body">
                            <h5 class="card-date" style="color:gray;"> May 3rd 2023</h5>
                            <button class="tablinks1" onclick="myShows1()" style="color:White;"> The
                                Young Turks: May 3 2023</button>
                            <h5 class="card-host" style="color:White;"> Hosts:
                                <button class="tablinks2" onclick="myHost1()" style="color:White;">
                                    Ana
                                    Kasparian</button>
                                <button class="tablinks3" onclick="myHost2()" style="color:White;">
                                    John ladarola</button>
                                <button class="tablinks4" onclick="myHost3()" style="color:White;">
                                    Bart Kyle</button>
                            </h5>
                            <p class="card-podcast1">
                                <li class="podcast1">
                                    <p class="podcastpreview1" style="color: white;" onclick="myPodcast1()">
                                        Is This The Text That Got Tucker Fired? | Catalytic Converter Thefts
                                        Skyrocketing | Matt Gaetz & AOC Team Up To End To Stock Trading by Members
                                        of Congress | Man Behind Texas
                                    </p>
                                </li>
                            <div class="podcastextra1" style="color: black;">
                                Plus
                            </div>
                            <div class="podcastextra2" style="color: whitesmoke;">
                                Full Episode
                            </div>
                            <div class="podcastextra3" style="color: whitesmoke;">
                                1 hour, 1 minute |
                            </div>
                            <div class="podcastextra4" style="color: whitesmoke;">
                                14
                            </div>
                            </p>

                            <p class="card-podcast2">
                                <li class="podcast2">
                                    <p class="podcastpreview2" style="color: white;" onclick="myPodcast2()">
                                        Man Behind Texas Mass Shooting Caught & Arrested | Texas Republicans Pushing
                                        Bill To Overturn Election Results | The U.S. Is Having A Loneliness Crisis,
                                        Surgeon General Warns |
                                    </p>
                                </li>
                            <div class="podcastextra5" style="color: black;">
                                Plus
                            </div>
                            <div class="podcastextra6" style="color: whitesmoke;">
                                Full Episode
                            </div>
                            <div class="podcastextra7" style="color: whitesmoke;">
                                54 minutes |
                            </div>
                            <div class="podcastextra8" style="color: whitesmoke;">
                                9
                            </div>
                            </p>
                            <p class="card-podcast3">
                                <li class="podcast3">
                                    <p class="podcastpreview3" style="color: white;" onclick="myPodcast3()">
                                        TYT's Bart Kyle Shares His Experience With Catalytic Converter Theft | John,
                                        Ana and Bart Discuss Dune: Part Two
                                    </p>
                                </li>
                            <div class="podcastextra9" style="color: black;">
                                Plus
                            </div>
                            <div class="podcastextra10" style="color: whitesmoke;">
                                Full Episode
                            </div>
                            <div class="podcastextra11" style="color: whitesmoke;">
                                27 minutes |
                            </div>
                            <div class="podcastextra12" style="color: whitesmoke;">
                                6
                            </div>
                            </p>
                        </div>
                        <script>
                            function myShows1() {
                                window.open("https://www.google.com/");
                            }
                            function myHost1() {
                                window.open("https://www.google.com/");
                            }
                            function myHost2() {
                                window.open("https://www.google.com/");
                            }
                            function myHost3() {
                                window.open("https://www.google.com/");
                            }
                            function myPodcast1() {
                                window.open("https://www.google.com/");
                            }
                            function myPodcast2() {
                                window.open("https://www.google.com/");
                            }
                            function myPodcast3() {
                                window.open("https://www.google.com/");
                            }
                        </script>
                        <div class="card-footer" style="border: none;">
                            <small class="text-muted"></small>
                        </div>
                    </div>

                    <div id="Articles" class="tabcontent" style="display:none">
                        <div class="cardpress">
                            <img class="card-img-top" src="images/istockphoto-1145046836-612x612.jpg"
                                onclick="myArticle1()" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title" style="color:White;">
                                    Tucker Carlson's White Supremacy Rant Just Got Worse
                                </h5>
                                <p class="card-text">
                                    By Aishwarya Nag Choudhury | Apr 14, 2021 |
                                </p>
                                <div class="article-extra1" style="color: whitesmoke;">
                                    6
                                </div>
                            </div>
                            <img class="card-img-top" src="images/istockphoto-1145046836-612x612.jpg"
                                onclick="myArticle1()" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title" style="color:White;">
                                    Busted: Pelosi’s Shady Insider Trading Exposed
                                </h5>
                                <p class="card-text">
                                    By Aishwarya Nag Choudhury | Apr 14, 2021 |
                                </p>
                                <div class="article-extra1" style="color: whitesmoke;">
                                    6
                                </div>
                            </div>
                            <script>
                                function myArticle1() {
                                    window.open("https://www.google.com/");
                                }
                                function myArticle2() {
                                    window.open("https://www.google.com/");
                                }
                            </script>
                            <div class="card-footer" style="border: none;">
                            </div>
                        </div>
                    </div>

                    <div id="About" class="tabcontent" style="display:none">
                        <p class="about-text" style="color: white;">
                            The Young Turks is the largest news show online — and the flagship show of TYT Network. This
                            award-winning news series garners 100 million views monthly.

                            Tune in LIVE Monday through Friday at 6pm ET to watch hosts Cenk Uygur and Ana Kasparian and
                            ever-changing panel of guests discuss politics, civil rights, and more.
                        </p>
                        <p class="about-text2" style="color: white;">
                            Follow the Young Turks!
                        </p>
                        <div class="about-social">
                            <a class="about-icon1" href="https://www.google.com/" target="_blank">
                                <img src="images/link01.png" alt="facebook" class="social-icon">
                            </a>
                            <a class="about-icon2" href="https://www.google.com/" target="_blank">
                                <img src="images/link02.png" alt="twitter" class="social-icon">
                            </a>
                            <a class="about-icon3" href="https://www.google.com/" target="_blank">
                                <img src="images/link03.png" alt="linkedin" class="social-icon">
                            </a>
                        </div>

                        <div class="wrapper">
                            <div class="container-md">
                              <div class="col-12 mb-2">
                                <div class="row">
                                  <div class="column">
                                    <div class="cards_wrap">
                                      <div class="card_item">
                                        <div class="card_inner" onclick="myHost1()">
                                          <img src="images/istockphoto-1145046836-612x612.jpg">
                                          <div class="film">
                                            Ana Kasparian
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                          
                                  <div class="column">
                                    <div class="cards_wrap">
                                      <div class="card_item">
                                        <div class="card_inner" onclick="myHost2()">
                                          <img src="images/istockphoto-1145046836-612x612.jpg">
                                          <div class="film">
                                            Cenk Uygur
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                                <script>
                                  function myHost1() {
                                    window.open("https://www.google.com/");
                                  }
                                  function myHost2() {
                                    window.open("https://www.google.com/");
                                  }
                                </script>
                              </div>
                            </div>
                          </div>
                    </div>

                    <script>


                        /*script for tab switching*/
                        function openTab(evt, tabName) {
                            var i, tabcontent, tablinks;
                            tabcontent = document.getElementsByClassName("tabcontent");
                            for (i = 0; i < tabcontent.length; i++) {
                                tabcontent[i].style.display = "none";
                            }
                            tablinks = document.getElementsByClassName("tablinks");
                            for (i = 0; i < tablinks.length; i++) {
                                tablinks[i].className = tablinks[i].className.replace(" active", "");
                            }
                            document.getElementById(tabName).style.display = "block";
                            evt.currentTarget.className += " active";
                        }
                    </script>

                </div>

                <div class="cardright" style="background-color: #2c2626; max-height: 1000px;">
                    <div class="card-body">
                        <div class="imgcontainer">
                            <img src="images/istockphoto-1145046836-612x612.jpg" style="width:100%;">
                            <div class="centeredtext">Become an Alithian Member Today</div>
                            <button class="centeredbutton1" type="button" onclick="myAdvertise()">Join Now</button>
                            <button class="centeredbutton2" type="button" onclick="myLearn()">Learn More</button>
                        </div>
                        <script>
                            function myAdvertise() {
                                window.open("https://www.google.com/");
                            }
                            function myLearn() {
                                window.open("https://www.google.com/");
                            }
                        </script>
                        <div class="card-footer" style="border-color: white;">
                        </div>
                        <h5 class="card-title" style="color: white;">Alithian Announcements</h5>
                        <ul class="alithianannouncements" style=" padding-bottom: 30px;">
                            <li class="announcementimg1" onclick="myAnnouncement1()">
                                <p class="announcementstext1" style="color: white;" onclick="myAnnouncement1()">Find TYT
                                    on PlutoTV</p>
                            </li>
                            <li class="announcementimg2" onclick="myAnnouncement2()">
                                <p class="announcementstext2" style="color: white;" onclick="myAnnouncement2()">
                                    Programming Update: The
                                    Watchlist at a New Time!</p>
                            </li>
                            <li class="announcementimg3" onclick="myAnnouncement3()">
                                <p class="announcementstext3" style="color: white;" onclick="myAnnouncement3()">Final
                                    Day of 9 Days of
                                    Impact!</p>
                            </li>
                            <li class="announcementimg4" onclick="myAnnouncement4()">
                                <p class="announcementstext4" style="color: white;" onclick="myAnnouncement4()">Day 8 of
                                    9 of Impact</p>
                            </li>
                            <li class="announcementimg5" onclick="myAnnouncement5()">
                                <p class="announcementstext5" style="color: white;" onclick="myAnnouncement5()">Day 7 of
                                    9 of Impact</p>
                            </li>
                            <li class="announcementimg6" onclick="myAnnouncement6()">
                                <p class="announcementstext6" style="color: white;" onclick="myAnnouncement6()">Day 6 of
                                    9 of Impact</p>
                            </li>
                        </ul>
                        <script>
                            function myAnnouncement1() {
                                window.open("https://www.google.com/");
                            }
                            function myAnnouncement2() {
                                window.open("https://www.google.com/");
                            }
                            function myAnnouncement3() {
                                window.open("https://www.google.com/");
                            }
                            function myAnnouncement4() {
                                window.open("https://www.google.com/");
                            }
                            function myAnnouncement5() {
                                window.open("https://www.google.com/");
                            }
                            function myAnnouncement6() {
                                window.open("https://www.google.com/");
                            }
                        </script>
                        <div class="card-footer" style="border-color: white;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="filler">

    </div>


    <footer class="footer">
        <div class="ftK flexC fl-bet">
            <div class="ft-l flexC">
                <a href="index.html" class="ft-logo"><img src="images/ft-logo.png"></a>
                <div class="ft-l-nav">
                    <a href="javascript:;" class="ft-nav-a">Podcast</a>
                    <a href="javascript:;" class="ft-nav-a">Join Us</a>
                    <a href="javascript:;" class="ft-nav-a">Contact Us</a>
                </div>
            </div>
            <div class="copy">© Copyright 2023 <span>Terms of Use | Privacy Policy</span></div>
            <div class="links flexC">
                <a href="javascript:;" class="flexC"><img src="images/link01.png"></a>
                <a href="javascript:;" class="flexC"><img src="images/link02.png"></a>
                <a href="javascript:;" class="flexC"><img src="images/link03.png"></a>
            </div>
        </div>
    </footer>

</body>

</html>