<!DOCTYPE html>
<html>

	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
		<title>Alithian - Shop Page</title>
		<link href="images/hd-logo.png" rel="icon">
		<link rel="stylesheet" href="css/swiper.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/index.css">
		<link rel="stylesheet" type="text/css" href="css/css.css" />
	</head>

	<body style="background-color: #171921;">
		<header class="header">
			<div class="hdK flexC">
				<nav class="nav">
					<ul class="flexC">
						<li><a href="index.html" class="menuA active">Home</a></li>  
          				<li><a href="news.html" class="menuA">News</a></li>
          				<li><a href="podcast.html" class="menuA">Podcast</a></li>
          				<li><a href="write-for-us.html" class="menuA">Write for us</a></li>
					</ul>
				</nav>
				<h1 class="hd-logo"><a href="index.html"><img src="images/hd-logo.png"></a></h1>
				<nav class="nav mrL">
					<ul class="flexC">
						<li><a href="community.html" class="menuA">Community</a></li>                       
            			<li><a href="shop.html" class="menuA">Shop</a></li>
            			<li><a href="register.html" class="menuA">Join</a></li>
            			<li><a href="login.html" class="logA">Sign in</a></li> 
					</ul>
				</nav>
			</div>
		</header>
		<div class="ward">
			<div class="fp_box_2">
				<div class="banner">
					<img src="images/banner_two.png" width="100%">
				</div>
				<div class="pic_du clearfix">
					<div class="left">
						<a href="#"><img src="images/cv1.png" width="100%"></a>
						<a href="#"><img src="images/cv2.png" width="100%"></a>
					</div>
					<div class="rii">
						<a href="#"><img src="images/cv3.png" width="100%"></a>
						<a href="#"><img src="images/cv4.png" width="100%"></a>
						<a href="#"><img src="images/cv5.png" width="100%"></a>
					</div>
				</div>
				<div class="list_img">
					<ul class="clearfix">

						<li>
							<div>
								<img src="images/io1.jpg">
								<p>PREORDER - Justice Is Coming: How Progressives Are Going to Take Over the Country and
									America Is Going to Love It
								</p>
								<a href="#">$29.54 USD</a>
							</div>
						</li>
						<li>
							<div>
								<img src="images/io2.jpg">
								<p>PRE-ORDER: Justice is Coming Zip-Up Hoodie <br>
									PRE-ORDER: Justice is Coming Zip-Up Hoodie</p>
								<a href="#">$65.00 USD</a>
							</div>
						</li>
						<li>
							<div>
								<img src="images/io3.png">
								<p>Funky Feminist AF Cotton Candy Crop Hoodie <br>
									Funky Feminist AF Cotton Candy Crop Hoodie</p>
								<a href="#">$70.00 USD</a>
							</div>
						</li>
						<li>
							<div>
								<img src="images/io4.jpg">
								<p>PRE-ORDER PROTOTYPE: Justice is Coming T-Shirt <br>
									PRE-ORDER PROTOTYPE: Justice is Coming T-Shirt</p>
								<a href="#">$40.00 USD</a>
							</div>
						</li>
						<li class="hover">
							<div>
								
							</div>
						</li>
						
					</ul>
				</div>
				
				<div class="list_img list_img2">
					<h3 style="text-align: center;padding: 30px 0; color: #fff;font-size: 35px;">Best Selling Collections</h3>
					<br>
					<ul class="clearfix">
				
						<li>
							<div>
								<img src="images/uit1.jpg">
								
								<a href="#">Best Sellers</a>
							</div>
						</li>
						<li>
							<div>
								<img src="images/uit2.jpg">
							
								<a href="#">Feminist AF</a>
							</div>
						</li>
						<li>
							<div>
								<img src="images/uit3.jpg">
								
								<a href="#">The Young Turks</a>
							</div>
						</li>
						<li>
							<div>
								<img src="images/uit4.jpg">
								
								<a href="#">The Damage Report</a>
							</div>
						</li>
						
						
					</ul>
				</div>
			</div>
		</div>

		<!--footer-->
		<footer class="footer">
			<div class="ftK flexC fl-bet">
				<div class="ft-l flexC">
					<a href="index.html" class="ft-logo"><img src="images/ft-logo.png"></a>
					<div class="ft-l-nav">
						<a href="about_us.html" class="ft-nav-a">About us</a>
						<a href="javascript:;" class="ft-nav-a">Join Us</a>
						<a href="javascript:;" class="ft-nav-a">Contact Us</a>
					</div>
				</div>
				<div class="copy">© Copyright 2023 <span>Terms of Use | Privacy Policy</span></div>
				<div class="links flexC">
					<a href="javascript:;" class="flexC"><img src="images/link01.png"></a>
					<a href="javascript:;" class="flexC"><img src="images/link02.png"></a>
					<a href="javascript:;" class="flexC"><img src="images/link03.png"></a>
				</div>
			</div>
		</footer>
		<!--footer-->

		<script src="js/swiper.min.js"></script>
		<script src="js/jquery-1.8.3.min.js"></script>
		<script>
			//banner
			var swiper1 = new Swiper('.banner', {
				//pagination:{el: '.bannerB',clickable: true,},
				speed: 800,
				loop: true,
				autoplay: {
					disableOnInteraction: false,
					delay: 5000,
				},
				/*pagination: {
				    el: '.page',
				    clickable: true,
				},*/
				navigation: {
					nextEl: '.next',
					prevEl: '.prev',
				},
			});
		</script>
	</body>

</html>
