<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Alithian - Write for Us</title>
    <link rel="stylesheet" href="css/write-for-us.css" />
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/style.css">
    <link href="images/hd-logo.png" rel="icon">
  </head>
  <body>
    <header class="header">
      <div class="hdK flexC">
        <nav class="nav">
          <ul class="flexC">
            <li><a href="index.html" class="menuA active">Home</a></li>  
            <li><a href="news.html" class="menuA">News</a></li>
            <li><a href="podcast.html" class="menuA">Podcast</a></li>
            <li><a href="write-for-us.html" class="menuA">Write for us</a></li>                            
          </ul>
        </nav>
        <h1 class="hd-logo"><a href="index.html"><img src="images/hd-logo.png"></a></h1>
        <nav class="nav mrL">
          <ul class="flexC">
            <li><a href="community.html" class="menuA">Community</a></li>                       
            <li><a href="shop.html" class="menuA">Shop</a></li>
            <li><a href="register.html" class="menuA">Join</a></li>
            <li><a href="login.html" class="logA">Sign in</a></li>                               
          </ul>
        </nav>
      </div>
    </header>
        
    <main>
      <div class="container">
        <div class="left">
          <h1>Write for Us</h1>
          <h2>Seeking articles for publication</h2>
          <p>

            Are you an aspiring journalist? An ambitious writer who wants an audience? Do you have an unusual viewpoint on political matters or a unique perspective on popular culture? Did you complete a project you are proud of, and want to share the story?
            If so, we want to publish your work.
            Alithia is an independent media channel, covering a diverse array of topics. Our very name is taken from the Greek word for “truth.” Accordingly, we are not taking money to serve as a forum for corporate interests.
            You are encouraged to have a look at the articles on the Alithia website to get an idea of the content we’re looking for. If you’d like to publish an article with us, please read the guidelines provided below.
            Topics we will consider for publication on Alithia:
            Current news stories in politics, domestic and global; business news; social commentary; opinion essays; topics in popular media; science and nature, healthcare and medicine; personal development; fitness and nutrition; spiritual explorations; travelogs; culinary adventures; creative writing such as science fiction, and more.
            Article guidelines:
            Articles can be of any length, but brevity is the soul of wit. Consider the message you are trying to convey, and how much you can get across in an economy of words.
            You may format the article with bold, italics, and underlines. You are allowed to use special characters. Please no color fonts.
            We recommend a gripping title for your article. If it is insufficiently riveting, the Alithian editors may change it.
            In addition to a title, subheadings are encouraged to organize your subject.
            You may submit images along with your article, or request that the Alithian editors choose one that fits the topic. We ask that if you submit an image, you also provide the url of the website where you found it, [and a brief statement of why it is relevant to the article.]
            The Alithian editors reserve the right to edit a submitted article, or substitute a more appropriate image to accompany the article.
            As we are seeking original material, we discourage plagiarizing. We will scan submitted articles using software to identify content that is not your own writing. You may, however, submit original articles you’ve published on your own personal blog or social media platform, with a link to your website or platform.
            Articles may not be in pdf or html format. Submitted articles must be written in Word or Google docs. Please be sure to enable editing when submitting a Google doc.

            </p>
            <h2>Link policy</h2>
            <p>
            You may include links in your article to reference websites, podcasts, blogs, vlogs, YouTube videos or other media that supports the content of your article. For example, if you are writing on a science topic, you are encouraged to include links to sites that contain material related to that topic, or provide background information to help your audience understand the topic.
            You may also include links in your author bio, such as LinkedIn page, or personal website.
            There will be absolutely no links to offensive content. Links to pornography or hate groups will immediately disqualify your article for publication.
            In order to submit your article:
            Please ensure you have satisfied the guidelines for publication (above). Articles that do not conform to style or formatting requirements will be returned with a request for corrections, or rejected.
            Please submit your completed draft in Word or Google docs, with author bio and the email address you used when you registered as an Alithian. Please enable editing for your submission.
            Your author bio may not be more than one paragraph. Please include first and last name in the bio. Links to your personal website or other social media are permitted. Please also include a current profile picture for your author bio.
            Thank you for reading and agreeing to conform to our guidelines.
            We are looking forward to reading and publishing your work.
          </p>
            <h2>Submission Form</h2>
          <form>
            <div>
              <label for="name">Name:</label>
              <input type="text" id="name" name="name" />
            </div>
            <div>
              <label for="email">Email:</label>
              <input type="email" id="email" name="email" />
            </div>
            <div>
              <label for="pitch">Pitch or Full Article:</label>
              <textarea id="pitch" name="pitch"></textarea>
            </div>
            <button type="submit">SUBMIT</button>
          </form>
        </div>
        <div class="right">
          <h2>Latest News</h2>
          <ul>
            <li>
              <img src="https://picsum.photos/200/120" alt="" />
              <a href="#">Lorem ipsum dolor sit amet</a>
            </li>
            <li>
              <img src="https://picsum.photos/200/120" alt="" />
              <a href="#">Consectetur adipiscing elit</a>
            </li>
            <li>
              <img src="https://picsum.photos/200/120" alt="" />
              <a href="#">Sed do eiusmod tempor incididunt</a>
            </li>
            <li>
              <img src="https://picsum.photos/200/120" alt="" />
              <a href="#">Ut labore et dolore magna aliqua</a>
            </li>
          </ul>
        </div>
      </div>
    </main>
    <footer>
      <p>Copyright © 2023 Alithian</p>
    </footer>

  </body>
</html>